@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

:root {
    /* fonts Variables */
    --color-red: #850C70;
    --color-red60: #850C7099;
    --color-white: #fff;
    /* viewport Variables */
    --max-container-width: 1400px;
    --max-container-percentage: 92%;
    --breakpoint-large: 1500px;
    --breakpoint-small: 921px;
}
body {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    color: #444;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }
  a,
  button {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
  }
  
.body {
    background-color: antiquewhite;
    width: 100%;
    min-height: 100vh;
    padding: 5vw;
}

/* .chat-size {
    width: 40%;
    margin: 0 auto;
    background: #fff;
} */

.chat_boat {
    padding: 1rem;
    position: relative;
    background: url(/images/chat-bg.jpg) left top;
    height: 100vh;
}

.chat_boat-head {
    padding: 2rem 1.5rem 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* backdrop-filter: blur(2px);
    background: #f6f6f683;
    box-shadow: 0vw 7vw 4vw 0vw #ffffff; */
    background: url(/images/chat-header-bg.png) no-repeat left top;
    height: 120px;
}

.chat_back-btn {
    width: clamp(1.5rem, 2.5vw, 3rem);
    cursor: pointer;
}

.chat_body {
    padding: 1vw 0;
    height: 88vh;
    overflow-y: auto;
    padding-top: 5rem;
}

.massage-box {
    padding: .5rem 0;
    width: 80%;
    display: flex;
    align-items: center;
    gap: 1vw;

}

.send {
    margin-left: auto;
}

.send .massage {
    background: #684663;
    color: var(--color-white);
}


.recieved {
    width: 93%;
    margin-right: auto;
}

.massage {
    width: 100%;
    padding: 20px;
    border-radius: .75rem;
    box-shadow: 0px 0px 10px 0px #0000001A;
    background: var(--color-white);
    text-align: left;
}

.chat_img {
    width: clamp(2rem, 5vw, 5vw);
    height: clamp(2rem, 5vw, 5vw);
    border-radius: 50%;
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.chat_img img {
}

/* .massage-box.recieved:nth-child(1) {
    display: block;
} */

.chat_input-box {
    width: 100%;
    position: relative;
}

.chat_input {
    width: 100%;
    border-radius: 5rem;
    border: 1px solid var(--color-red60);
    padding: 1rem 3rem 1rem 1rem;
    outline: none;
}

.send-btn {
    position: absolute;
    right: 14px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.chat_onlyImg {
    width: 30%;
}

.chat_body::-webkit-scrollbar {
    width: 10px;
    display: none;
    /* or any desired width */
}

/* Track (background) of the scrollbar */
.chat_body::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* or any desired color */
}

/* Thumb (the draggable part) of the scrollbar */
.chat_body::-webkit-scrollbar-thumb {
    background: #888;
    /* or any desired color */
    border-radius: 5px;
    /* Optional: to make the edges rounded */
}

/* Thumb on hover */
.chat_body::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* or any desired color on hover */
}

.guided-btns {
    padding: 1.4vw 0;
}

.guided-btns li {
    padding: 0.3vw 0;
}

.guided-btns li button {
    font-family: "Nunito Sans", sans-serif;
    padding: 8px 10px;
    background: #fff;
    border-radius: 0.75rem;
    color:var(--color-red);
    font-weight: 700;
    border: .1rem solid var(--color-red);
    text-align: left;
    margin: 5px 0 !important;
}

.recieved .massage {
    width: calc(100% - clamp(3rem, 6vw, 6vw));
    margin-left: auto;
}

/* .massage-box.recieved .chat_img {
    display: none;
} */
.massage-box.recieved+.recieved .chat_img {
    display: none;
}

.massage-box.recieved:nth-child(1) .chat_img {
    display: flex;
}

.send .massage:nth-child(1) {
    margin-bottom: 20px;
}