@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

:root {
    /* fonts Variables */
    --poppins: "poppins";
    --inter: "Inter", sans-serif;
    --noto: "Noto Serif", serif;
    /* Color Variables */
    --color-black: #000;
    --color-dark: #0C1118;
    --color-dark2: #66707F;
    --color-dark3: #ECEFF3;
    --color-dark4: #343434;
    --color-blue: #0461F0;
    --color-green: #5FB948;
    --color-light-green: #77B29C;
    --color-light-green2: #F4FFF1;
    --color-brown: #B68D3D;
    --color-light-brown: #FFF9EF;
    --color-orange: #E39E35;
    --color-orange2: #C68476;
    --color-light-orange2: #FFEEEA;
    --color-grey: #E9EAEC;
    --color-grey2: #D9D9D9;
    --color-red: #850C70;
    --color-white: #fff;
    /* viewport Variables */
    --max-container-width: 1400px;
    --max-container-percentage: 92%;
    --breakpoint-large: 1500px;
    --breakpoint-small: 921px;
}

body {
    width: 100%;
    font-family: var(--inter);
    font-weight: 400;
    font-style: normal;
    font-size: clamp(0.875rem, 1.1vw, 18rem);
    background: #ffffff;
    line-height: 1.2;
    color: var(--color-black);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
button {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--arimo);
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    position: relative;
}

.color-dark {
    color: var(--color-dark);
}

.color-dark2 {
    color: var(--color-dark2);
}

.color-brown {
    color: var(--color-brown);
}

.color-grey {
    color: var(--color-grey);
}

.color-white {
    color: var(--color-white) !important;
}

.bg-dark {
    background-color: var(--color-dark);
}

.bg-dark2 {
    background-color: var(--color-dark2);
}

.bg-brown {
    background-color: var(--color-brown) !important;
}

.bg-grey {
    background-color: var(--grey);
}

.bg-white {
    background-color: var(--color-white);
}

.heading1 {
    font-family: var(--inter);
    font-weight: 400;
    font-size: clamp(.875rem, 3.45vw, 375rem);
}

.heading2 {
    font-family: var(--inter);
    font-weight: 400;
    font-size: clamp(.875rem, 2.57vw, 375rem);
}

.heading3 {
    font-family: var(--inter);
    font-weight: 400;
    font-size: clamp(.875rem, 2vw, 375rem);
}

.heading4 {
    font-family: var(--inter);
    font-weight: 400;
    font-size: clamp(.875rem, 1.7vw, 375rem);
}

.font-poppins {
    font-family: "poppins";
}

.font-noto {
    font-family: var(--noto);
}

img {
    max-width: 100%;
}

.banner {
    position: relative;
    display: block;
}

.banner-img.banner-mob {
    display: none;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    /* width: clamp(2rem, 8vw, 20rem); */
    width: 8vw;
}

.logo-img {
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 4vw;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7vw;
}

.nav-item {
    padding: 0.7vw 1vw;
    font-size: clamp(0.5rem, 1vw, 8rem);
    /* font-weight: 500; */
    font-family: var(--inter);
    color: var(--color-white);
}

.nav-item:hover {
    color: var(--color-white);
    border-radius: 0.7vw;
    background: #fff3;
}

.nav-item a:hover {
    color: var(--color-white);
}


.humberger_menu_icon {
    display: none;
    width: 6vw;
    cursor: pointer;
}

.mob-view {
    display: none;
}

.web-view {
    display: block;
}

.humberger_menu-content {
    display: none;
    position: fixed;
    width: 80vw;
    top: 0;
    right: 0;
    background: #00000029;
    z-index: 4;
    padding: 1vw 2vw 3vw 2vw;
    font-size: clamp(1rem, 1vw, 8rem);
    backdrop-filter: blur(5px);
}

.humberger_menu-content.show {
    display: block;
}

.close-icon {
    margin-left: auto;
    width: 5vw;
    cursor: pointer;
}

.close-icon img {
    width: 100%;
    filter: brightness(0) saturate(100%) invert(100%) sepia(8%) saturate(7443%) hue-rotate(245deg) brightness(113%) contrast(107%);
}

.menu-item {
    width: 100%;
}

.menu-item a {
    display: block;
    width: 100%;
    padding: 2vw 0;
    text-align: center;
    color: var(--color-white);
}

.menu-item a:hover {
    font-weight: 600;
    background: #ffffff41;
    transform: scale(1.08);
}

.banner_image {
    width: 100%;
}

.banner-content {
    position: absolute;
    top: 50%;
    right: 0;
    /* width: 50%; */
    text-align: center;
    margin-left: auto;
    transform: translate(-10%, -50%);
}

.banner_text_box {
    text-align: center;
    padding: 2vw 3vw;
    border-radius: 2.14vw;
    border: 0.15vw solid var(--color-red);
    position: relative;
}

.banner_text_box::after {
    content: "";
    width: 5vw;
    height: 2vw;
    position: absolute;
    bottom: 0;
    /* background: #29040c; */
    left: 10vw;
    transform: translate(0%, 50%);
    z-index: 2;
    backdrop-filter: blur(0.8vw);
}

.banner_text_box::before {
    content: "";
    display: block;
    width: 5vw;
    height: 5vw;
    border: 0.15vw solid var(--color-red);
    border-radius: 0 2vw 0 0;
    border-left: none;
    border-top: none;
    border-bottom: navajowhite;
    rotate: -34deg;
    position: absolute;
    bottom: 0;
    left: calc(24% - 2vw);
    transform: translate(-84%, 68%);
    z-index: 3;
}

.banner-heading {
    font-size: clamp(0.5rem, 1.75vw, 8rem);
    color: var(--color-white);
    line-height: 1.4;
    font-family: var(--noto);
}

.banner-text {
    font-size: clamp(0.5rem, 1.45vw, 8rem);
    color: var(--color-white);
    font-family: var(--noto);
}

.chat-boat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4vw;
}

.chat-boat-img {
    width: 10vw;
    height: 10vw;
}

.chat-boat_image {
    width: 0.75vw;
}

.chat-btn {
    padding: 0.7vw 1.3vw 0.7vw 1vw;
    border: none;
    outline: none;
    background: #fff;
    color: var(--color-black);
    font-size: clamp(0.5rem, 1.3vw, 8rem);
    border-radius: 0.8vw;
    position: relative;

}

.chat-btn:after {
    content: "";
    width: 0.15vw;
    height: 80%;
    position: absolute;
    right: 0.4vw;
    top: 0.2vw;
    background: #000;
    animation: cursor 1s infinite ease-in-out;
}

@keyframes cursor {
    0% {
        background: #000;
    }

    50% {
        background: #fff;
    }
}

.need {
    width: 100%;
    padding: 0px 3vw 5vw 3vw;
}

.section-top {
    position: absolute;
    top: -2.3vw;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-top.bottom {
    rotate: 180deg;
    bottom: -2.4vw;
    left: 0;
}

.section-top_content {
    width: 50vw;
    height: 5vw;
    background: var(--color-white);
    margin: 0 auto;
    position: relative;
}

.section-top_content::before {
    content: "";
    width: 10vw;
    height: 5vw;
    background: var(--color-white);
    position: absolute;
    left: -7.655vw;
    top: 2.425vw;
    rotate: -35deg;
    z-index: 1;
}

.section-top_content::after {
    content: "";
    width: 10vw;
    height: 5vw;
    background: var(--color-white);
    position: absolute;
    right: -7.68vw;
    top: 2.43vw;
    rotate: 35deg;
    z-index: 1;
}

.black .section-top_content {
    width: 50vw;
    height: 5vw;
    background: var(--color-dark4);
    margin: 0 auto;
    position: relative;
}

.black .section-top_content::before {
    content: "";
    width: 10vw;
    height: 5vw;
    background: var(--color-dark4);
    position: absolute;
    left: -7.655vw;
    top: 2.425vw;
    rotate: -35deg;
}

.black .section-top_content::after {
    content: "";
    width: 10vw;
    height: 5vw;
    background: var(--color-dark4);
    position: absolute;
    right: -7.68vw;
    top: 2.43vw;
    rotate: 35deg;
}

.need-content {
    position: relative;
    z-index: 2;
    overflow-x: hidden;
}

.top-text-content {
    text-align: center;
}

.need-cards {
    padding: 2vw 0;
}

.need-ttl2 {
    font-family: var(--inter);
    font-size: clamp(0.5rem, 1.1vw, 8rem);
    font-weight: 600;
    color: var(--color-red);
    padding: 0.5vw 0.7vw;
    border-radius: 0.8vw;
    background: #F5F9FF;
    display: inline-block;
}

.need_ttl {
    color: var(--color-red);
    margin-top: 1vw;
    font-family: var(--noto);
}

.need_image-card {
    width: 100%;
    border-radius: 1.4vw;
    overflow: hidden;
    height: 100%;
}

.need_image-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.need-card {
    border: 0.1vw solid var(--color-dark3);
    border-radius: 1.75vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.need-card_text-content {
    padding: 1.45vw;
}

.need-card-ttl {
    color: var(--color-dark);
    line-height: 1;
    font-family: var(--noto);
}

.need-card-desc {
    color: var(--color-dark2);
    line-height: 1;
    padding-top: 1vw;
}

.need-card-read {
    padding: 1vw 0;
}

.need-card-read a {
    display: flex;
    align-items: center;
    gap: 0.4vw;
    color: var(--color-red);
    width: auto;
}

.need-card-img {
    /* height: 15vw; */
    width: 100%;
    border-radius: 1.75vw;
    overflow: hidden;
}



.need-card-img img {
    min-width: 100%;
    object-fit: cover;
    min-height: 100%;
}

.demisty {
    background-color: var(--color-dark4);
    padding: 3vw;
    overflow-x: hidden;
}

.demisty-text-content {
    /* margin-top: 5vw; */
    padding: 7vw 1vw 3vw 1vw;
    text-align: center;
}

.demisty_topic {
    display: inline-block;
    background: #FFF0C23D;
    padding: 0.7vw;
    border-radius: 0.7vw;
    text-transform: uppercase;
    color: var(--color-white);
    transition: all 0.2s;
}

.demisty-content {
    position: relative;
    z-index: 2;
}

.demisty_topic:hover {
    transform: scale(1.03);
    cursor: pointer;
    transition: all 0.2s;
}

.demisty-ttl {
    font-family: var(--noto);
    color: var(--color-white);
    padding: 1vw;
}

.demisty-card {
    border: 0.1vw solid #FFFFFF1F;
    padding: 2vw;
    border-radius: 1vw;
    background: #ffffff1a;
    margin-bottom: 2vw;
    height: calc(100% - 2vw);
    transition: all 0.2s;
}

.demisty-card:hover {
    transform: scale(1.03);
    transition: all 0.2s;
}

.demisty-card-ttl {
    font-family: var(--noto);
    color: var(--color-white);
    font: clamp(0.5rem, 1.45vw, 8rem);
    font-weight: 600;
    padding-bottom: 1vw;
}

.demisty-card-desc {
    font-family: var(--inter);
    color: #ffffffb9;
}

.demisty-card-img {
    height: 15vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.demisty-card-img img {
    width: clamp(5rem, 15vw, 80rem);
}

.real-top-text {
    text-align: center;
    padding: 2vw 0;
}


.get_real-btn {
    display: inline-block;
    background: #F5F9FF;
    padding: 0.7vw;
    border-radius: 0.7vw;
    text-transform: uppercase;
    color: var(--color-blue);
    font-weight: 600;
    transition: all 0.2s;
}

.get_real-btn:hover {
    transform: scale(1.03);
    transition: all 0.2s;
}

section.real {
    padding: 5vw 3vw 10vw 3vw;
}

.read-ttl {
    color: var(--color-dark);
    padding: 2vw 0;
}

.real-card-box {
    background: linear-gradient(180deg, #E7E7E7 0%, #F3F3F3 100%);
    padding: 0.1vw;
    border-radius: 1vw;
    transition: all 0.2s;
}

.real-card-box:hover {
    transform: scale(1.02);
    transition: all 0.2s;
}

.real-card {
    padding: 1.5vw;
    border-radius: 1vw;
    background: #F9FAFB;
}

.real-card-img {
    width: 100%;
}

.real-card-img img {
    width: 100%;
}

.real-card-ttl {
    font-size: clamp(0.5rem, 1.45vw, 8rem);
    font-family: var(--noto);
    color: var(--color-dark);
    display: flex;
    align-items: center;
    gap: 0.7vw;
    padding: 0.7vw 0;
}

.real-card-series {
    width: 2vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-size: clamp(0.5rem, 1vw, 8rem);
    background: linear-gradient(161.83deg, #528DF5 7.33%, #71A1F6 12.34%, #0257EE 90.74%, #0257EE 90.74%);
    border: 0.1vw solid var(--color-red);
    border-radius: 50%;
}

.real-card-desc {
    padding: 0.7vw 0;
    color: var(--color-dark2);
}

.footer {
    padding: 3vw;
    background: var(--color-dark4);
}

.chatrl_btn {
    display: inline-block;
    padding: 0.7vw 1vw;
    background: var(--color-white);
    border-radius: 0.7vw;
    color: var(--color-blue);
    margin: 3vw 0;
    font-weight: 600;
    text-transform: uppercase;
}

.chatrl_btn:hover {
    transform: scale(1.03);
}

.footer-top-text {
    text-align: center;
}

.footer-ttl {
    color: var(--color-white);
    font-family: var(--noto);
    line-height: 1;
}

.footer-card {
    background: #ffffff1a;
    margin: 0 auto;
    width: 38vw;
    padding: 8vw 7vw;
    border-radius: 1.7vw;
    min-height: 40vw;
    margin-top: 10vw;
}

.footer-card-ttl {
    color: var(--color-white);
    font-family: var(--noto);
}

.footer-card-desc {
    color: #ffffffaf;
    padding: 2vw 0;
}

.footer-card-social {
    display: flex;
    align-items: center;
    gap: 0.7vw;
    margin-top: 3vw;
}

.social_links {
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    border: 0.1vw solid var(--color-dark2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_links:hover {
    background: #ffffff23;
    transform: scale(1.1);
    transition: all 0.2s;
}

img.social_icon {
    width: 1vw;
}

.footer_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer_bottom img {
    width: 100%;
}

.chat-card-box {
    padding: 1vw;
}

.chat-card {
    width: 100%;
    padding: 1.5vw;
    border: 0.1vw solid var(--color-dark3);
    border-radius: 1.1vw;
    transition: all 0.2s;
}

.chat-card:hover {
    transform: scale(1.1);
    transition: all 0.2s;
}

.chat-card-head {
    display: flex;
    align-items: center;
    gap: 1vw;
    padding-bottom: 2vw;

}

.chat-card-head-text {
    color: var(--color-dark2);
}

.chat-card-img {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}

.chat-card-img img {
    width: 100%;
}

.chat-card-text {
    color: #454D59;
}

.home_loan-card {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.14vw;
    box-shadow: 0px 0px 0px 0.1vw #0B131E0A;
    box-shadow: 0px 0.7vw 1.4vw 0px #0B131E24;
    /* border: 0.1vw solid var(--color-dark2); */
    border-radius: 1vw;
    margin: 0.7vw auto;
    background: var(--color-white);
    transition: all 0.2s;
}

.home_loan-card:hover {
    transform: scale(1.03);
    transition: all 0.2s;
}

.loan-card-img {
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    background: #E6EFFE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loan-card-img img {
    width: 1.4vw;
}

.loan-card-txt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
    padding: 0.6vw 0;
}

.loan-card-ttl {
    color: var(--color-dark);
    font-weight: 500;
}

.loan-card-text {
    font-size: clamp(0.5rem, 0.87vw, 5rem);
    color: var(--color-dark2);
    line-height: 2;
}

.ideal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.7vw;
}

.ideal-text {
    font-size: clamp(0.5rem, 0.87vw, 5rem);
    color: var(--color-dark2);
}

.ideal-amount {
    color: var(--color-red);
    font-weight: 500;
}

.pregress-box {
    width: 100%;
    height: 0.5vw;
    background: var(--color-dark3);
    border-radius: 0.7vw;
    position: relative;
}

.pregress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 0.5vw;
    /* background: var(--color-blue); */
    background: linear-gradient(161.83deg, #528DF5 7.33%, #71A1F6 12.34%, #0257EE 90.74%, #0257EE 90.74%);
    border-radius: 0.7vw;
}

.home_loan {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    background: url(/images/bg-img.png) no-repeat 100%;
    background-position: center;
}

.mgt-2 {
    margin-top: 2vw;
}

.mgt-4 {
    margin-top: 4vw;
}

.slide-item {
    padding: 0 1vw;
}

.need-card-img-mob {
    /* height: 40vw; */
    overflow: hidden;
}

.banner-content-mob {
    position: absolute;
    bottom: -1vw;
    left: 0;
    width: 100%;
    text-align: center;
    display: none;
}

.mob-heading {
    font-family: var(--inter);
    font-weight: 700;
}

.banner-heading-mob {
    font-size: clamp(2.75rem, 2.75vw, 15rem);
    font-weight: 800;
    color: var(--color-white);
    margin-bottom: 10vw;
    line-height: 1;
}

.real_advise-box {
    display: flex;
    justify-content: center;
}

.real_advise {
    display: flex;
    align-items: center;
    gap: 3vw;
    background: linear-gradient(94.1deg, #B44774 0%, #56142F 100%);
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 4rem;
    padding: 4vw;
}

.real_advise-img {
    width: clamp(3rem, 5vw, 5rem);
}

.real_advise-ttl {
    font-size: clamp(0.875rem, 1vw, 5rem);
    color: var(--color-white);
    font-weight: 600;
}

.real_advise-heading {
    color: var(--color-white);
    font-size: clamp(1.5rem, 1vw, 5rem);
    font-weight: 600;
}